/* Write your CSS here */
.match-card-item{
  
    background-color: #0f172a;
    border-radius: 14px;
width: 48%;

/* max-width: 1000px; */

/* max-width: 240px; */
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 9px;
text-align: center;

}
.team-logo{
   max-width: 110px;
    height: 110px;
}
.team{
    font-size: 19px;
}
.red{
    color: #e31a1a;
}
.green{
    color: #18ed66;
}