/* Write your CSS here */
.home-container{

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 500px;
padding: 19px;
}
.title{
    font-size: 45px;
    font-family: bree serif;
    margin-left: 15px;
    color: white;
}
.logo{
    width: 35px
}
.logoAndTitlecntr{
display: flex;
align-items: center;
}
.team-card-container{
    display: flex;
    /* width: 90%; */
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
    justify-content: center;
}
@media screen and (min-width:768px){
    .home-container{
width: 700px;        
    }
    
}
